/build/
/vcpkg_installed/
third_party/imguizmo/bin/
third_party/imguizmo/example/
third_party/imguizmo/vcpkg-example/
third_party/imguizmo/Images/
third_party/imguizmo/GraphEditor.*
third_party/imguizmo/ImCurveEdit.*
third_party/imguizmo/ImGradient.*
third_party/imguizmo/ImLightRig.h
third_party/imguizmo/ImSequencer.*
third_party/imguizmo/ImVectorEditor.*
third_party/imguizmo/ImZoomSlider.h
third_party/imguizmo/Makefile
third_party/imguizmo/.editorconfig
third_party/imguizmo/.gitignore
/.vs/
/.vscode/
*.user
*.suo
*.pdb
*.ilk
*.obj
*.vcxproj.user
CMakeUserPresets.json
